<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/account/login" method="POST">
      <input type="text" name="id">
      <input type="text" name="password">
      <button type="submit"></button>
    </form>
  </body>
</html>
